*{
    background-color: rgb(247, 243, 243);
    font-family: 'Calibri', sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    color:red;
    text-decoration: underline;
    text-decoration-color: blue;
}